In [12]:
import pandas as pd
import os
import mysql.connector

In [13]:
# Read environment variables
host = os.environ.get("RDS_HOST")
user = os.environ.get("RDS_USERNAME")
password = os.environ.get("RDS_PASS")

In [14]:
def set_mysql_connection(host, user, password):
    conn = mysql.connector.connect(
        host = host,
        user = user,
        password = password,
    )
    
    mycursor = conn.cursor()
    
    return conn, mycursor

def create_database(mycursor, conn, new_database_name):
    # Execute a query to create the new database
    create_database_query = f"CREATE DATABASE {new_database_name}"
    mycursor.execute(create_database_query)

    # Commit the changes
    conn.commit()

    print(f"Done creating {new_database_name} database")

In [15]:
# Set up AWS MySQL Connection
conn, mycursor = set_mysql_connection(host, user, password)

In [16]:
df = pd.read_sql("SELECT * FROM jobstreet_db.jobstreet", conn)

In [17]:
df#['location'].unique()

,job_id,job_title,location,company,salary,job_url,qualification,year_of_experience,job_type,company_size,tech_language,tech_database,tech_cloud,tech_web_framework,tech_libraries,tech_developer,tech_data_viz,tech_version_control
0,13195632,Senior Backend Django Developer,National Capital Reg,Vector ML Analytics Inc,65000,https://www.jobstreet.com.ph/en/job/senior-bac...,"Bachelor's/College Degree, Post Graduate Diplo...",4.0,Full-Time,1 - 50,"javascript, python, swift",None,amazon web services,django,pandas,None,None,None
1,13195858,CAD Operator,Quezon City,Carl Windows Inc.,16000,https://www.jobstreet.com.ph/en/job/cad-operat...,"High School Diploma, Vocational Diploma/Short ...",NaN,Full-Time,1 - 50,None,None,None,None,None,None,None,None
2,13196785,"DATA MODELER (Data Analytics, Data Management,...",Makati City,"Manila Water Company, Inc.",85000,https://www.jobstreet.com.ph/en/job/data-model...,"Bachelor's/College Degree, Post Graduate Diplo...",5.0,Full-Time,1001 - 200,sql,None,microsoft azure,None,None,None,power bi,None
3,13196790,IT Tech Leader with Sales Experience I Makati ...,Makati City,"John Clements Consultants, Inc.",100000,https://www.jobstreet.com.ph/en/job/it-tech-le...,None,5.0,Full-Time,51 - 200,None,None,google cloud product,None,None,None,None,None
4,13197323,Analytics Specialist,Quezon City,Quandatics,30000,https://www.jobstreet.com.ph/en/job/analytics-...,None,2.0,Full-Time,1 - 50,None,None,None,None,None,None,tableau,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,13241714,Senior Data Analyst | Hybrid - Eastwood,Quezon City,MicroSourcing,90000,https://www.jobstreet.com.ph/en/job/senior-dat...,None,5.0,Full-Time,2001 - 500,sql,None,None,None,None,None,tableau,None
111,13242607,Senior Report Developer,Taguig City,"Primus@ Knowledge Specialists, Inc.",50000,https://www.jobstreet.com.ph/en/job/senior-rep...,Bachelor's/College Degree,3.0,Full-Time,1 - 50,sql,None,amazon web services,None,None,None,tableau,None
112,13242957,Web Developer (WFH),National Capital Reg,"Sysgen RPO, Inc.",45000,https://www.jobstreet.com.ph/en/job/web-develo...,None,3.0,Full-Time,51 - 200,"html, css, javascript",None,None,jquery,None,None,None,None
113,13243761,Systems Architect for Real-Time Basketball Ana...,National Capital Reg,Outsourced Quality Assured Services Inc. (ISO ...,100000,https://www.jobstreet.com.ph/en/job/systems-ar...,Bachelor's/College Degree,5.0,Full-Time,201 - 500,"python, javascript, sql, css, html, c++","mysql, mongodb","microsoft azure, amazon web services, google c...",None,"pytorch, spark, kafka, tensorflow, hadoop",None,"power bi, tableau",None
114,18757289,Automation Database Specialist (1875728986),National Capital Reg,Outsourced Quality Assured Services Inc. (ISO ...,70000,https://www.jobstreet.com.ph/en/job/automation...,"Vocational Diploma/Short Course Certificate, B...",5.0,Contract,201 - 500,"sql, vba",microsoft sql server,microsoft azure,None,None,None,power bi,None

In [18]:
# Create jobstreet database
create_database(mycursor, conn, "jobstreet_db")

Done creating jobstreet_db database

In [21]:
# Create table under jobstreet_db

# Replace 'your_existing_database' with the name of the existing database
existing_database_name = "jobstreet_db"
mycursor.execute(f"USE {existing_database_name}")

query = """
    CREATE TABLE IF NOT EXISTS jobstreet (
    job_id BIGINT PRIMARY KEY,
    job_title VARCHAR(50), 
    location VARCHAR(50), 
    company VARCHAR(50), 
    salary INT(10), 
    job_url VARCHAR(250), 
    qualification VARCHAR(50),
    year_of_experience INT(3), 
    job_type VARCHAR(10), 
    company_size VARCHAR(10), 
    tech_language VARCHAR(250), 
    tech_database VARCHAR(250),
    tech_cloud VARCHAR(250), 
    tech_web_framework VARCHAR(250), 
    tech_libraries VARCHAR(250), 
    tech_developer VARCHAR(250), 
    tech_data_viz VARCHAR(250),
    tech_version_control VARCHAR(250)
    )
"""
mycursor.execute(query)
conn.commit()